@page "/create/{post?}"
@model ReduzYou.Pages.CreateModel
@{
    ViewData["Title"] = "- Criar";
    string username = HttpContext.Session.GetString("_Username");
    bool logged = !string.IsNullOrEmpty(HttpContext.Session.GetString("_Id")) && !string.IsNullOrEmpty(username);
    ReduzYou.Data.Post post = null;

    if (!logged)
    {
        Response.Redirect("/");

        return;
    }
    
    if (Model.PostLink.Length == 0) post = DataBase.FindDraft(username);
    else post = DataBase.GetPostEdit(username, Model.PostLink);

    if (post == null) post = new ReduzYou.Data.Post();
}

@section styles
{
    <link rel="stylesheet" href="/css/create.css" />
}

@(await Html.RenderComponentAsync<ReduzYou.Pages.Components.Header>(RenderMode.Static, new { Logged = logged }))

<div id="image-selector">
    <form id="add-images" method="post" enctype="multipart/form-data">
        <input id="image-upload" name="imageUpload" type="file" accept="image/png, image/jpeg" />
    </form>
</div>

<form id="post-form" method="post">
    <input id="edit-link" name="link" type="hidden" value="@post.link" />
    <input id="cover-input" name="cover" type="hidden" value="@post.cover" />

    <div id="main-info">
        <div id="cover-wrapper">
            <img id="cover-image" src="@(string.IsNullOrEmpty(post.cover) ? "/img/icon.webp" : post.cover)" />

            <div id="button-wrapper">
                <button id="cover-button" type="button">Trocar</button>
            </div>
        </div>

        <div id="title-materials">
            <input id="title" name="title" type="text" maxlength="64" placeholder="Meu título legal" value="@post.title" />

            <fieldset id="post-materials"></fieldset>
        </div>
    </div>

    @(await Html.RenderComponentAsync<ReduzYou.Pages.Components.PostEditor>(RenderMode.Static, new { Content = post.content }))

    <button type="submit" name="publish">Publicar</button>
    <button type="submit" name="save">Salvar</button>
</form>

@section scripts
{
    <script type="text/javascript" src="/js/create/image_selector.js" defer></script>
    <script type="text/javascript" src="/js/create/post_editor.js" defer></script>
    <script type="text/javascript" src="/js/create/post_form.js" defer></script>
}

<script>
    @if (post.tags != null)
    {
        @Html.Raw("function initializeTags() { ")
        @Html.Raw("checkMaterials([")

        @for (int i = 0; i < post.tags.Count; i++)
        {
            @Html.Raw(string.Format("\"{0}\",", post.tags[i]));
        }

        @Html.Raw("]); }")
    }
    else Html.Raw("function initializeTags() { }");
</script>